{% extends 'base.html.twig' %}
{% block title %}Kontakt{% endblock %}


{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ asset('img/contact-bg.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Skontaktuj się!</h1>
                        <span class="subheading">Masz pytania? Znam odpowiedzi!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Chcesz pozostać w kontakcie? Wypełnij poniższe pola, a odpowiem Ci najszybciej jak się da!</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Pseudonim</label>
                            <input type="text" class="form-control" placeholder="Pseudonim" id="name" required data-validation-required-message="Podaj swoje imię.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Adres email</label>
                            <input type="email" class="form-control" placeholder="Adres Email" id="email" required data-validation-required-message="Podaj swój adres e-mail.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Numer telefonu</label>
                            <input type="tel" class="form-control" placeholder="Numer telefonu" id="phone" required data-validation-required-message="Podaj swój numer telefonu.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Wiadomość</label>
                            <textarea rows="5" class="form-control" placeholder="Wiadomość" id="message" required data-validation-required-message="Wpisz wiadomość."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Wyślij</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}


